PORT=3000
POSTGRES_URL='postgresql://angel:123a@localhost:5432/librosDBNode'
POSTGRES_USER=angel
POSTGRES_DB=librosDBNode
POSTGRES_PASSWORD=123a


GOOGLE_CLIENT_ID=1022411622384-pt42bftu1gdb5ood5q05u6erm294fn27.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04welHwvJXtZ1CgYIARAAGAQSNwF-L9Ir_Sb386b5U8KgFo2xQr9nbMhdRihuvpjta8vrPNSEpplGAMd8TyTFYf_3zt1JL4D2NkY
GOOGLE_REDIRECT_URI=https://developers.google.com/oauthplayground
FOLDER_ID=1vOHsMq4eZpcxuWCLYZ0OZNVmWswWFNeE

